<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-bc-integraion-auest-d01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b1f9bb02-6086-4761-b436-f0275e7f4542/resourceGroups/rg-bc-integraion-auest-d01/providers/Microsoft.Web/sites/func-bc-integraion-auest-d01</ResourceId>
    <UserName>$func-bc-integraion-auest-d01</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-bc-integraion-auest-d01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>